body{
    background-color: aquamarine;

}

/* Area de Produto */
.container-fluid{
    display: flex;
    flex-direction: row;
    flex-basis: auto;

}


.posi-title{
    margin-top: 10px;
    text-align: center;
}
.coluA{
    background-color:beige
}

.coluB{
    background-color:firebrick
}

.coluC{
    background-color:gray;
}

.coluD{
    background-color:gold;
}

.btn-dark{
    width: 80%;
    position: relative;
    background-position-x: 70% ;

}
